<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">backend.mesh-app.local</name>
  <service>
    <host-name>backend.mesh-app.local</host-name>
    <type>_https._tcp</type>
    <port>443</port>
  </service>
</service-group>