{# HTTP server for subdomain #}
    # {{ subdomain }}.{{ base_domain }} http server proxy
    server {
        listen 80;
        # Dual-domain support: mDNS (.local) and mesh DNS (.vlan)
        server_name {{ subdomain }}.{{ base_domain }} {% if base_domain.endswith('.local') %}{{ subdomain }}.{{ base_domain.replace('.local', '.vlan') }}{% endif %};

        location / {
            default_type text/plain;
            return 200 "http://{{ subdomain }}.{{ base_domain }} reached successfully.\n";
        }

    }
