{# HTTP server for base domain #}
    # {{ base_domain }} http server
    server {
        listen 80{% if is_default %} default_server{% endif %};

        # Dual-domain support: mDNS (.local) and mesh DNS (.vlan)
        server_name {{ base_domain }} {% if base_domain.endswith('.local') %}{{ base_domain.replace('.local', '.vlan') }}{% endif %};

        # Put a default SEO, using raw html,css,js on here that robots can parse to perform indexing and robots.txt page on here.

        # Forward all traffic to 443 (https).
        #return 301 https://$host$request_uri;

        location / {
            default_type text/plain;
            return 200 "http://{{ base_domain }} reached successfully.\n";
        }

    }
